<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>DisplayCrud</title>

     <style>
          #customers {
               font-family: Arial, Helvetica, sans-serif;
               border-collapse: collapse;
               width: 100%;
          }

          #customers td,
          #customers th {
               border: 1px solid #ddd;
               padding: 8px;
          }

          #customers tr:nth-child(even) {
               background-color: #f2f2f2;
          }

          #customers tr:hover {
               background-color: #ddd;
          }

          #customers th {
               padding-top: 12px;
               padding-bottom: 12px;
               text-align: left;
               background-color: #04AA6D;
               color: white;
          }

          .btn-edit {
               color: black;
               background-color: orange;
               padding: 5px 8px;
               text-decoration: none;
               font-size: 10px;
               display: inline-block;
               border-radius: 4px;
               outline: none;
          }

          .btn-del {
               color: white;
               background-color: red;
               padding: 5px 8px;
               text-decoration: none;
               font-size: 10px;
               display: inline-block;
               border-radius: 4px;
               outline: none;
          }
     </style>
</head>

<body>
     <h1>Table Users: </h1>

     <table id="customers">
          <tr>
               <th>Email</th>
               <th>First name</th>
               <th>Last name</th>
               <th>Address</th>
               <th>Action</th>
          </tr>
          <% for(var i=0; i<dataAllUsers.length; i++) {%>
               <tr>

                    <td>
                         <%= dataAllUsers[i].email %>
                    </td>
                    <td>
                         <%= dataAllUsers[i].firstName %>
                    </td>
                    <td>
                         <%= dataAllUsers[i].lastName %>
                    </td>
                    <td>
                         <%= dataAllUsers[i].address %>
                    </td>
                    <td>
                         <a href="/edit-crud?id=<%= dataAllUsers[i].id %>" class="btn-edit">Edit</a>
                         <a href="" class="btn-del">Delete</a>
                    </td>
               </tr>

               <% } %>

     </table>
</body>

</html>